#container {
  background-color: ;
  width: 75%;
  margin: 100px auto;
  padding: ;
}
h2.google {
  font-weight: ;
  font-size: ;
  font-family: 'Pacifico', cursive;
}
h2.adobe {
  font-family: bungee, sans-serif;
  font-weight: 400;
  font-style: normal;
}
