body{
  margin: 0;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.board {
  width: 800px;
  margin: 100px auto;
}
.green, .black {
  float: left;
  width: 100px;
  height: 100px;
}
.green{
  background-color: #419661;
}
.black{
  background-color: #2b2b2b;
}
/*--------------------------------------------*/

.container{
  width: 900px;
  margin: 100px auto;
}
.header{
  float: left;
  width: 900px;
  height: 100px;
  background-color: #419661;
}
.subhead{
  float: left;
  width: 900px;
  height: 50px;
  margin: 25px 0;
  background-color: #2b2b2b;
}
.column{
  float: left;
  width: 283.33px;
  height: 600px;
  background-color: #419661;
}
.footer{
  float: left;
  width: 900px;
  height: 75px;
  margin: 25px 0 0 0;
  background-color: #2b2b2b;
}
.margin25{
  margin: 0 25px;
}
/*--------------------------------------------*/

.holder{
  width: 1000px;
  margin: 100px auto;
}
.head{
  float: left;
  width: 1000px;
  height: 200px;
  background-color: #419661;
}
.post{
  float: left;
  width: 775px;
  height: 500px;
  margin: 100px 25px 0px 0px;
  background-color: #2b2b2b;
}
.blogdeet{
  float: left;
  width: 200px;
  height: 250px;
  margin: 100px 0px;
  background-color: #419661;
}
.foot{
  float: left;
  width: 775px;
  height: 75px;
  margin: 25px 0px;
  background-color: #419661;
}
/*--------------------------------------------*/

.court{
  width: 315px;
  margin: 100px auto;
}
.leftsidebox{
  float: left;
  width: 50px;
  height: 180px;
  margin: 0px 5px 0px 0px;
  background-color: #419661;
}
.rightsidebox{
  float: left;
  width: 50px;
  height: 180px;
  margin: 0px 0px 0px 5px;
  background-color: #419661;
}
.lefthalfbox{
  float: left;
  width: 100px;
  height: 100px;
  margin: 0px 5px 0px 0px;
  background-color: #419661;
}
.righthalfbox{
  float: left;
  width: 100px;
  height: 100px;
  margin: 0px 0px 0px 0px;
  background-color: #419661;
}
.topfullbox{
  float: left;
  width: 205px;
  height: 75px;
  margin: 0px 0px 5px 0px;
  background-color: #419661;
}
.bottomfullbox{
  float: left;
  width: 205px;
  height: 75px;
  margin: 5px 0px 0px 0px;
  background-color: #419661;
}
/*--------------------------------------------*/
*{
  box-sizing: border-box;
}
.court2 {
  width: 900px;
  margin: 100px auto;
}
.side {
  width: 150px;
  height: 600px;
  background-color: #419661;
  float: left;
  border: 5px solid white;
}
.back {
  width: 600px;
  height: 200px;
  background-color: #419661;
  float: left;
  border: 5px solid white;
}
.service {
  width: 300px;
  height: 400px;
  background-color: #419661;
  float: left;
  border: 5px solid white;
}
.single {
  width: 600px;
  float: left;
}
/*--------------------------------------------*/

*{
  box-sizing: border-box;
}
.challenge {
  width: 800px;
  margin: 100px auto;
}
.contain1 {
  width: 100px;
  float: left;
}
.contain2 {
  width: 500px;
  float: left;
}
.contain3 {
  width: 200px;
  float: left;
}
.small {
  width: 100px;
  height: 200px;
  background-color: #419661;
  float: left;
  border: 5px solid white;
}
.small-long {
  width: 100px;
  height: 400px;
  background-color: #419661;
  float: left;
  border: 5px solid white;
}
.large {
  width: 200px;
  height: 400px;
  background-color: #419661;
  float: left;
  border: 5px solid white;
}
.large-long {
  width: 200px;
  height: 600px;
  background-color: #419661;
  float: left;
  border: 5px solid white;
}
